:root{
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
}
img {
    width: 200px;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color: #4CAF50;
    margin: 40px;
    padding: 40px;
}
div {
    border: solid 5px rgb(152, 79, 47);
    margin: 80px;
    padding: 20px;
}