:root {
    --bg-main: #FFF7F0;
    --bg-header: #FFD6E0;
    --bg-card: #FFFFFF;
    --text-main: #333333;
    --text-accent: #8E44AD;
    --text-light: #777777;
    --accent-primary: #FF6F61;
    --accent-secondary: #FDCB6E;
    --gradient-start: #FAD0C4;
    --gradient-end: #FFD1FF;
    --shadow-color: rgba(0, 0, 0, 0.1);
}


body{
    background-color: var(--bg-main);
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color : linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    margin: 40px;
    padding: 40px;
    text-align: center;

}
header h1 {
    color: var(--text-accent);
    animation: bounce 2s infinite;
}
.container {
    max-width: 1200px;
    margin: 10px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.drink {
    background-color: var(--bg-card);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 100px;
    padding-right: 20px;
    padding-left: 20px;
    transition: transform 0.3s ease;
}

.drink h2 {
    color: var(--text-accent)
}

.drink img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: var(--bg-header);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    header {
        padding: 1rem;
    }
}