:root{
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --text-color: #333;
}
img {
    width: 200px;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background-color: #4CAF50;
    margin: 40px;
    padding: 40px;
}
div {
    border: solid 5px rgb(152, 79, 47);
    margin: 20px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-areas:
    "a c" 
    "b c";
    gap: 10px;
    margin: 30px;
    background-color: var(--secondary-color);
}

.first {
    grid-area: a;
    background-color: var(--primary-color);
    color: white;
}

.second {
    grid-area: b;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.third {
    grid-area: c;
    background-color: var(--primary-color);
    color: white;
}

.box {
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: none;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.flex-box {
    background: var(--primary-color);
    padding: 10px;
    margin: 10px;
    color: white;
}


body {
    text-align: center;
    font-family: Arial, sans-serif;
    color:var(--text-color)

}

@media (max-width: 600px) {
 .flex-container {
    flex-direction: column;
  }
}